.centrado {
    text-align: center;
    
}

.esquerda {
    text-align: left;
    text-align: top;
}

.footnotes {
    position: fixed;
    bottom: 0;
    left: 0;
    
    
}

.box {
    width: 500px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border: 1px solid #000; /* Border style */
    padding: 50px; /* Padding inside the box */
    box-sizing: border-box; /* Ensure padding is included in width and height */  
    
}

